@font-face {
  font-family: Mario;
  src: url(MarioAndLuigi-font.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
}

.container {
  display: flex;
  flex-direction: column;
   align-items: center;
}

h1 {
  font-family: Mario;
  font-size: 60px;
  text-align: center;
  margin: 20px;
}


.start-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  display: inline-flex;

}

.game-container {
  display: block;
  width: 600px;
  height: 730px;
  position: absolute;
  margin-top : 300px;
}

.scoring {
  display: inline;
}


.sky {
  background-color: rgb(173, 228, 247);
  width: 600px;
  height: 500px;
  position: absolute;
}

.clouds {
  img {
    width: 600px;
    height: 5    00px;
    opacity: 0.75;
  }
}

.ground {
  background-color: rgb(99, 46, 46);
  width: 600px;
  height: 150px;
  position: absolute;
  top: 500px;

  img{
    width: 600px;
    height: 150px;
    opacity: .5;
   
  }
}

.bird {
  position: absolute;
  z-index: 2;
  img {
    width: 80px;
    height: 80px;
  }
}

.obstacle {
  // background-color: rgb(0, 161, 0);
  // width: 60px;
  // height: 280px;
  position: absolute;
  img{
    width: 60px;
    height: 280px;
  }
}

.topObstacle {
  transform: rotate(180deg);
  // width: 60px;
  // height: 300px;
  position: absolute;
  img{
    width: 60px;
    height: 280px;
  }
}


.game-over {
  z-index: 4;
  position: absolute;
  // align-self: center;
// margin-right: 60px;
}