//   

.game-container {
  display: flex;
  width: 600px;
  height: 730px;
  position: absolute;
}

.scoring {
  display: inline-block;
}

.timer {
  display: inline-block;
}

.sky {
  background-color: rgb(173, 228, 247);
  width: 600px;
  height: 500px;
  position: absolute;
}

.clouds {
  img {
    width: 600px;
    height: 5    00px;
    opacity: 0.75;
  }
}

.ground {
  background-color: rgb(99, 46, 46);
  width: 600px;
  height: 150px;
  position: absolute;
  top: 500px;

  img{
    width: 600px;
    height: 150px;
    opacity: .5;
   
  }
}

.bird {
  position: absolute;
  // z-index: 2;
  img {
    width: 80px;
    height: 80px;
  }
}

.obstacle {
  // background-color: rgb(0, 161, 0);
  // width: 60px;
  // height: 280px;
  position: absolute;
  img{
    width: 60px;
    height: 280px;
  }
}

.topObstacle {
  // background-image: url('8bit pipes.png');
  transform: rotate(180deg);
  // width: 60px;
  // height: 300px;
  position: absolute;
  img{
    width: 60px;
    height: 280px;
  }

}
